<!DOCTYPE html>
<html lang="{% block html_lang %}{{ WEBSITE.html_lang }}{% endblock %}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="{% block meta_author %}{{ WEBSITE.author }}{% endblock %}">
        <meta name="contact" content="{% block meta_contact %}{{ WEBSITE.contact }}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{{ WEBSITE.keywords }}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{{ WEBSITE.description }}{% endblock %}">
        <meta name="Cache-Control" content="no-cache, no-store, must-revalidate">
        <title>{% block title %}{{ WEBSITE.title }}{% endblock %}</title>
    {% endblock %}
    {% block css %}
        <!-- Loading Font Awesome -->
        <link rel="stylesheet" href="{{ BASE_URL }}/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <!-- Loading Bootstrap -->
        <link rel="stylesheet" href="{{ BASE_URL }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!-- Loading Bootstrap Select -->
        <link rel="stylesheet" href="{{ BASE_URL }}/node_modules/use-bootstrap-select/dist/use-bootstrap-select.css">
        <!-- Loading Select2 -->
        <link rel="stylesheet" href="{{ BASE_URL }}/node_modules/select2/dist/css/select2.min.css">
        <link rel="stylesheet"
              href="{{ BASE_URL }}/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
        <!-- Loading Tigress CSS -->
        <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/core/public/css/tigress.css">
        {% if WEBSITE.mode == 'dark' %}
            <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/core/public/css/tigress_dark.css">
        {% else %}
            <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/core/public/css/tigress_light.css">
        {% endif %}
        <!-- Loading Custom Grid CSS for menus -->
        {% include 'menu_grid_css.twig' %}
    {% endblock %}
    {% block js %}
        <!-- Loading jQuery -->
        <script src="{{ BASE_URL }}/node_modules/jquery/dist/jquery.js"></script>
        <!-- Loading Popper -->
        <script src="{{ BASE_URL }}/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <!-- Loading Bootstrap -->
        <script src="{{ BASE_URL }}/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Loading Bootstrap Select -->
        <script src="{{ BASE_URL }}/node_modules/use-bootstrap-select/dist/use-bootstrap-select.js"></script>
        <!-- Loading Select2 -->
        <script src="{{ BASE_URL }}/node_modules/select2/dist/js/select2.min.js"></script>
        <script src="{{ BASE_URL }}/node_modules/select2/dist/js/i18n/nl.js"></script>
        <!-- Loading Tigress Menu JS -->
        <script src="{{ BASE_URL }}/vendor/tigress/menu/public/javascript/menu.js"></script>
    {% endblock %}
</head>
<body>
<div class="grid-container">
    {% if (menu.position != 'none') %}
        {% include 'menu.twig' %}
    {% endif %}
    {% if (sidebar) %}
        {% include 'sidebar.twig' %}
    {% endif %}
    <header>{% block header %}{% endblock %}</header>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    <footer>{% block footer %}{% endblock %}</footer>
</div>
</body>
</html>