{% extends 'base.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/core/public/css/version/index.css">
{% endblock %}
{% block content %}
    <div class="container-lg">
    </div>
    <div id="version-box">
        <h1 class="text-nowrap">{{ WEBSITE.title }}</h1>
        <h5><i>{{ WEBSITE.description }}</i></h5>
        <p>Author: {{ WEBSITE.author }}</p>
        <hr>
        <h2 class="text-nowrap">Tigress PHP Framework</h2>
        <p>Core: {{ tigress_core_version }}<br>
        Router: {{ tigress_router_version }}<br>
        {% if tigress_database_version %}Database: {{ tigress_database_version }}{% endif %}</p>
    </div>
{% endblock %}