{% extends 'base.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_URL }}/vendor/tigress/core/public/css/version/index.css">
{% endblock %}
{% block content %}
    <div class="container-lg">
    </div>
    <div id="version-box">
        <h1 class="text-nowrap">{{ WEBSITE.title }}</h1>
        <h4><i>{{ WEBSITE.description }}</i></h4>
        <p>Author: {{ WEBSITE.author }}</p>
        <hr>
        <h2 class="text-nowrap">Tigress PHP Framework</h2>
        <h5 class="text-center"><i>Tigress is a PHP framework for building web applications.</i></h5>
        <div class="row">
            <div class="col-md-6">
                <h5>Main Packages:</h5>
                <p>Core: {{ tigress_core_version }}<br>
                    Router: {{ tigress_router_version }}</p>
            </div>
            <div class="col-md-6">
                <h5>Core Helper Classes</h5>
                <p>Framework Helper: {{ framework_helper_version }}<br>
                    Display Helper: {{ display_helper_version }}<br>
                    PDF Creator Helper: {{ pdf_creator_helper_version }}</p>
            </div>
            <div class="col-md-6">
                <h5>Database Packages</h5>
                <p>{% if tigress_database_version %}Database: {{ tigress_database_version }}{% endif %}<br>
                Model: {{ tigress_model_version }}</p>
            </div>
            <div class="col-md-6">
                <h5>Support Packages</h5>
                <p>{% if tigress_data_converter_version %}Data Converter: {{ tigress_data_converter_version }}{% endif %}
                    <br>
                    {% if tigress_file_manager_version %}File Manager: {{ tigress_file_manager_version }}{% endif %}</p>
            </div>
        </div>
        <div id="versionBackButton">
            <button type="button" class="btn btn-dark" onclick="window.history.back()"></button>
        </div>
    </div>
{% endblock %}